body {
  margin: 0;
  padding: 0;
}
.landing {
  height: 100vh;
}

.container {
  background: url("./assets/hero.jpg");
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: rgb(227, 66, 7);
  margin: 30px 40px;
  font-weight: bold;
  font-size: 20px;
}

.lang {
  color: rgb(21, 83, 70);
  margin: 30px 40px;
  font-size: 14px;
  cursor: pointer;
}

.hero {
  text-align: center;
  margin-top: 8rem;
}

.hero h1 {
  font-size: 50px;
  margin-bottom: 1rem;
}

.subtitle {
  margin-bottom: 2rem;
  font-size: 25px;
}

.guarantee {
  font-size: 12px;
}

.btn-redirect {
  height: 40px;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgb(21, 83, 70);
  margin-bottom: 2rem;
}

.btn-redirect:hover {
  cursor: pointer;
  background-color: rgb(44, 157, 133);
}

.services {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
}

.serviceImg {
  height: 350px;
  width: 350px;
  padding: 2rem;
}

.serviceImg1 {
  height: 250px;
  width: 250px;
  padding: 2rem;
}

.left {
  width: 30rem;
  padding-left: 10rem;
}

.right {
  width: 30rem;
  padding-left: 10rem;
}

.features {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.feature {
  height: 20vh;
  width: 25vh;
}

.feature img {
  width: 10rem;
  height: 5rem;
}

.more a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(21, 83, 70);
  padding: 5rem;
}
