body {
  color: white;
  background-image: url("images/bg.avif");
  background-size: cover;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  text-align: center;
  height: 100vh;
  letter-spacing: 2px;
  background-color: rgb(15, 14, 28);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

img {
  height: 6rem;
}

.logo {
  height: 6rem;
  padding: 2rem;
}

li {
  color: white;
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
  padding: 0 20px;
  font-weight: bolder;
}
.info {
  text-align: center;
}
.info h1 {
  margin-top: 20px;
  font-size: 2em;
}

.info p {
  opacity: 0.8;
  text-align: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  width: 50vw;
  margin: 0 auto;
}

.profile-img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 1.5px solid grey;
  margin: 20px 0;
}

a img {
  width: 50px;
  height: 50px;
  box-shadow: 1px 1px 8px white;
  border-radius: 15px;
  margin: 20px 10px;
}

a img:hover {
  box-shadow: 2px 2px 16px white;
}

.fading-line {
  width: 100%; /* Full-width line */
  height: 4px; /* Thickness of the line */
  background: linear-gradient(to right, transparent, white, transparent);
  margin: 20px 0; /* Spacing above and below the line */
}

.achivment {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  gap: 20px;
  margin: 60px;
  padding: 20px;
}

/* Card */
.project {
  padding: 16px;
  border-radius: 15px;
  background-color: #0d1723;
  box-shadow: inset -4px 1px 10px #1e2e42;
}

/* Layout */
.project-info {
  display: flex;
  gap: 15px;
  align-items: flex-start;
}

/* Image */
.project img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1.5px solid gray;
  flex-shrink: 0;
}

/* Text container */
.project-content {
  flex: 1;
  text-align: left;
}

/* Title */
.project .name {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 6px;
  color: #4da3ff;
  text-decoration: none;
}

.project .name:hover {
  text-decoration: underline;
}

/* Description */
.about-pro {
  font-size: 0.9rem;
  opacity: 0.75;
  line-height: 1.5;
}
